@import "../theme";

.loginPage {
  height: 100vh;
}
.loginPage h1 {
  text-align: left;
  margin-bottom: 5px;
}
.logo,
.login.form {
  display: block;
  text-align: center;
}
.logo img {
  width: 100px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.login.form {
  width: 100%;
  margin: 0 auto;
}
.loginPage h3 {
  text-align: left;
  margin-bottom: 5px;
}

.loginPage button {
  display: block;
  border-radius: 8px;
  height: 50px;
  cursor: pointer;
  color: $primary;
  background-color: transparentize($primary, 0.7);
}
.login.button-container {
  width: 100%;
  margin-top: 20px;
}
.loginPage .toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.password-container {
  position: relative;
}

.password-input {
  padding-right: 40px;
}

.password-toggle {
  position: absolute;
  top: 35%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}
.loginPage .nav {
  margin-top: 50px;
  a {
    color: $primary;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
