@import "../theme";

.notFoundPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notFoundPage .content h1 {
  text-align: center;
  font-size: 3em;
  color: $primary;
  cursor: pointer;
  margin: 0;
}
.notFoundPage .content p {
  text-align: center;
  font-size: 1.2em;
}
.notFoundPage .centeredLink {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary;
}
.notFoundPage .centeredLink:hover {
  text-decoration: underline;
}