@import "../theme";

.welcomePage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcomePage .content {
  text-align: center;
}
.welcomePage .logo img {
  max-width: 100%;
}
.welcomePage .title h1 {
  font-size: 3em;
  margin-top: 30px;
  margin-bottom: 0;
}
.welcomePage .title h2 {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 75px;
}
.welcomePage .buttons button {
  width: 200px;
  height: 50px;
  margin: 0 50px;
  color: $textColor;
  background-color: lighten($primary, 5%);
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
}
.welcomePage .buttons button:hover {
  transform: translate(1px, 1px);
  background-color: $primary;
}