.primary-button {
  @apply bg-dark-green text-light-green transition-all cursor-pointer p-2.5 rounded-xl font-bold text-lg flex-grow lg:p-4;
}

.primary-button.tint-accent {
  @apply bg-yellow-950 text-accent;
}

.primary-button:hover {
  @apply opacity-70;
}

.primary-button:disabled {
  @apply opacity-30;
}

.primary-button.destructive {
  @apply bg-red-950 text-red-300;
}

.text-button {
  @apply text-white font-bold;
}
.button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button-disabled:hover {
  opacity: 0.5;
}
