@import "../theme";

.login {
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    height: 20em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }
  .buttons-container {
    display: flex;
    justify-content: center; /* Zentriert die Button-Container horizontal */
    align-items: center; /* Zentriert die Button-Container vertikal (falls notwendig) */
    flex-direction: row; /* Stellt sicher, dass die Items nebeneinander angeordnet werden */
    gap: 20px; /* Optional: Fügt einen Abstand zwischen den Buttons hinzu */
  }

  &.button-container {
    width: 30%; /* Jeder Button-Container nimmt 50% der Breite des Elternelements ein */
  }

  &.button-container button {
    width: 100%; /* Buttons füllen den gesamten verfügbaren Platz im Button-Container aus */
  }
}
